<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <blog_blogmodule>
            <general>
                <enable>1</enable>
            </general>
            <storefront>
                <blog_link>Latest Blogs</blog_link>
                <set_limit>10</set_limit>
            </storefront>
        </blog_blogmodule>
    </default>
</config>
