<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Product\ProductModule\Api\ProductRepositoryInterface" type="Product\ProductModule\Model\ProductRepository"/>
    <preference for="Product\ProductModule\Api\Data\ProductInterface" type="Product\ProductModule\Model\Data\Product"/>
</config>