<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <ninjavan>
                <active>0</active>
                <model>Shipping\Ninjavan\Model\Carrier\Ninjavan</model>
                <name>Ninja Van</name>
                <price>10.00</price>
                <title>Ninja Van Shipping</title>
                <type>I</type>
            </ninjavan>
        </carriers>
    </default>
</config>
